

<div class="container">
  <div class="row text-center">
    <%= link_to "Home", "/", class: "btn btn-default top-margin" %>
  </div>
  <div class="row top-margin">
    <div class="col-md-8">
      <h3><%= @blog_title %></h3>
      <p><%= @date_pub %></p>
      <p class="top-margin">
        <%= @blog_content %>
      </p>
    </div>
    <div class="col-md-3 col-md-offset-1 top-margin border">
      <h6>More Blog Entries</h6>
      <ul class="other_blog_entries">
        <% BlogPost.all.each do |post| %>
          <li><%= link_to post.blog_title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
